.register-login {
  padding-top: 150px;
  background-image: linear-gradient(to bottom right, #23a2c9, #698cec);
  margin-top: -20px;
  height: 100vh;
}

.about {
  padding: 80px 20px;
  background-image: linear-gradient(to bottom right, #23a2c9, #698cec);
  margin-top: -20px;
  height: 20vh;
  margin-bottom: 50px;
}

.top-form-style {
  margin-top: -20px;
  background-image: linear-gradient(to bottom right, #23a2c9, #698cec);
  height: 100vh;
  padding-top: 50px;
}

.register-login p {
  margin-top: 50px;
  font-size: 15px;
  color: white;
}

.register-login a {
  color: white;
}

.jiref-post-bg {
  padding: 40px;
}
