#search input {

  border-radius: 40px;
  background: #eee;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #1a1a1a;
  padding: 10px 20px;

}

#search {
  margin-bottom: 20px;
}

.no-searches {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}